@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote.callout-help {
  border-left: 3px blue solid;
  padding-left: 5px;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

.tag {
  @apply px-2 text-sm rounded-full border border-solid border-zinc-800 bg-sky-100 hover:bg-sky-200 dark:bg-sky-600 dark:hover:bg-sky-500 transition-colors no-underline;
}

.prose a {
  word-wrap: break-word;
}

mark {
  @apply bg-amber-200;
}

.prose hr {
  @apply my-5;
}

.prose iframe.embed {
  width: 100%;
  height: 100%;
}

.prose ul > li > :last-child,
.prose ul > li > :first-child,
.prose ul > li {
  margin-bottom: 0;
  margin-top: 0;
}

ul.contains-task-list {
  @apply list-none pl-3;
}

.prose blockquote.callout {
    quotes: none;
    @apply py-2 dark:bg-indigo-500 bg-indigo-100 border-indigo-400 dark:border-indigo-800 rounded-r-lg;
}

.prose blockquote.callout.callout-warning {
    @apply dark:bg-orange-500 bg-orange-100 border-orange-400 dark:border-orange-800;
}

.prose blockquote.callout.callout-error {
    @apply dark:bg-red-500 bg-red-100 border-red-400 dark:border-red-800;
}

.prose blockquote.callout p:first-child {
    @apply text-lg text-indigo-400 dark:text-indigo-800;
}

.prose blockquote.callout.callout-warning p:first-child {
    @apply text-orange-400 dark:text-orange-800;
}

.prose blockquote.callout.callout-error p:first-child {
    @apply text-red-400 dark:text-red-800;
}

.prose blockquote.callout p {
    @apply not-italic my-0;
}

mjx-container svg {
  display: inline;
}

mjx-container {
  display: inline;
  box-sizing: border-box;
  overflow-x: scroll;
}
